.navbar {
  background-color: var(--primary-color);
  overflow: hidden;
  position: fixed;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 0;
  // z-index: 1;
  margin-bottom: 10px;

  a {
    float: left;
    color: var(--secondary-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: var(--font-family-text);

    &:hover {
      background-color: var(--secondary-color);
      color: var(--accent-color);
    }
  }
}
.footer {
  display: flex; // Use flexbox to align the content
  flex-direction: row; // Vertically align the content
  justify-content: center; // Center the content vertically
  align-items: center; // Center the content horizontally
  text-align: center; // Center the text horizontally
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 1rem;
  position: static;
  bottom: 0;
  width: 100%;
  div {
    width: 33%;
  }
  img {
    max-height: 50px;
  }

  p {
    font-size: 0.8rem;
    margin: 0;
  }

  .social-media {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
      margin: 0 0.5rem;

      a {
        color: var(--secondary-color);
        font-size: 1.5rem;

        &:hover {
          color: var(--accent-color);
        }
      }
    }
  }
}
// .fa-facebook-f::before,
// .footer > i:nth-child(4) {
//   display: none !important;
// }
