@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Rubik:wght@400;500;700&family=Cambay:wght@400;700&display=swap");

:root {
  --primary-color: #0f0610;
  --secondary-color: #f8ecff;
  --accent-color: #2fc8de;
  --background-color: #8c96a8;
  --font-family-title: "Montserrat", sans-serif;
  --font-family-subtitle: "Rubik", sans-serif;
  --font-family-text: "Cambay", sans-serif;
}

* {
  font-family: var(--font-family-text);
  margin: 0; // Add this line to remove default margin
  padding: 0;
}

body {
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex: 1;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px; // Add margin-bottom to the container
  margin-top: 5rem;

  table {
    width: 80%;
    margin-top: 2rem;
    border-collapse: collapse;

    th,
    td {
      padding: 1rem;
      text-align: center;
      border: 1px solid var(--primary-color);
    }

    th {
      background-color: var(--accent-color);
      color: var(--secondary-color);
    }
    // td.flow {
    //   background-color: #f5f5f5;
    // }
  }

  h2 {
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
    border: 2px solid var(--primary-color);
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: var(--font-family-title);
  }

  .recent-transactions {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-top: 2rem;
  }

  .transaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    background-color: var(--secondary-color);
    border: 1px solid var(--primary-color);
    border-radius: 0.313rem;
    margin-top: 1rem;

    .amount {
      font-weight: bold;
    }

    .operator {
      font-weight: bold;
      color: var(--accent-color);
    }
  }
}
.button_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
  gap: 2rem; // Add gap between buttons

  .button_div {
    margin-right: 2rem;
  }

  button {
    border: none;
    background-color: var(--accent-color);
    color: var(--secondary-color);
    font-size: 1.5rem;
    font-family: var(--font-family-title);
    padding: 1rem;
    border-radius: 0.313rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center; /* center the text horizontally */
    align-items: center; /* center the text vertically */

    &:hover {
      background-color: var(--primary-color);
      color: var(--accent-color);
    }
  }
}

@import "navbar_footer";
@import "animation";
@import "mobile";
