@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Rubik:wght@400;500;700&family=Cambay:wght@400;700&display=swap");
:root {
  --primary-color: #0f0610;
  --secondary-color: #f8ecff;
  --accent-color: #2fc8de;
  --background-color: #8c96a8;
  --font-family-title: "Montserrat", sans-serif;
  --font-family-subtitle: "Rubik", sans-serif;
  --font-family-text: "Cambay", sans-serif;
}

* {
  font-family: var(--font-family-text);
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  margin-top: 5rem;
}
.container h2:hover {
  background-color: var(--accent-color);
  color: var(--secondary-color);
}
.container table {
  width: 80%;
  margin-top: 2rem;
  border-collapse: collapse;
}
.container table th,
.container table td {
  padding: 1rem;
  text-align: center;
  border: 1px solid var(--primary-color);
}
.container table tr:hover {
  background-color: var(--accent-color);
  color: var(--secondary-color);
}
.container table th {
  background-color: var(--accent-color);
  color: var(--secondary-color);
}
.container h2 {
  text-align: center;
  font-size: 2rem;
  margin-top: 2rem;
  border: 2px solid var(--primary-color);
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: var(--font-family-title);
}
.container .recent-transactions {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-top: 2rem;
}
.container .transaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  border-radius: 0.313rem;
  margin-top: 1rem;
}
.container .transaction .amount {
  font-weight: bold;
}
.container .transaction .operator {
  font-weight: bold;
  color: var(--accent-color);
}

.button_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
  gap: 2rem;
}
.button_container .button_div {
  margin-right: 2rem;
}
.button_container button {
  border: none;
  background-color: var(--accent-color);
  color: var(--secondary-color);
  font-size: 1.5rem;
  font-family: var(--font-family-title);
  padding: 1rem;
  border-radius: 0.313rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center; /* center the text horizontally */
  align-items: center; /* center the text vertically */
}
.button_container button:hover {
  background-color: var(--primary-color);
  color: var(--accent-color);
}

.navbar {
  background-color: var(--primary-color);
  overflow: hidden;
  position: fixed;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 0;
  margin-bottom: 10px;
}
.navbar a {
  float: left;
  color: var(--secondary-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: var(--font-family-text);
}
.navbar a:hover {
  background-color: var(--secondary-color);
  color: var(--accent-color);
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 1rem;
  position: static;
  bottom: 0;
  width: 100%;
}
.footer div {
  width: 33%;
}
.footer img {
  max-height: 50px;
}
.footer p {
  font-size: 0.8rem;
  margin: 0;
}
.footer .social-media {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer .social-media li {
  display: inline-block;
  margin: 0 0.5rem;
}
.footer .social-media li a {
  color: var(--secondary-color);
  font-size: 1.5rem;
}
.footer .social-media li a:hover {
  color: var(--accent-color);
}

.hero_image {
  margin-top: 5rem;
}
.hero_image a {
  display: inline-block;
}
.hero_image img {
  height: 250px;
  width: auto;
  animation: rotate-scale-color 10s infinite;
  transform-origin: center center;
  transition: filter 0.5s;
  filter: brightness(100%);
}
.hero_image img:hover {
  filter: brightness(120%);
}

@keyframes rotate-scale-color {
  0%, 100% {
    transform: rotate(0deg) scale(1);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0);
  }
  10% {
    transform: rotate(15deg) scale(1.1);
    box-shadow: 0 0 20px rgb(255, 0, 0);
  }
  20% {
    transform: rotate(-15deg) scale(1.2);
    box-shadow: 0 0 20px rgb(0, 255, 0);
  }
  30% {
    transform: rotate(15deg) scale(1.1);
    box-shadow: 0 0 20px rgb(0, 0, 255);
  }
  40% {
    transform: rotate(-15deg) scale(1);
    box-shadow: 0 0 20px rgb(255, 0, 255);
  }
  50% {
    transform: rotate(15deg) scale(1.1);
    box-shadow: 0 0 20px rgb(255, 255, 0);
  }
  60% {
    transform: rotate(-15deg) scale(1.2);
    box-shadow: 0 0 20px rgb(0, 255, 255);
  }
  70% {
    transform: rotate(15deg) scale(1.1);
    box-shadow: 0 0 20px rgb(128, 0, 128);
  }
  80% {
    transform: rotate(-15deg) scale(1);
    box-shadow: 0 0 20px rgb(128, 128, 0);
  }
  90% {
    transform: rotate(15deg) scale(1.1);
    box-shadow: 0 0 20px rgb(0, 128, 128);
  }
}
@media (min-width: 768px) {
  .container table {
    width: 90%;
  }
  .navbar a {
    font-size: 18px;
    padding: 14px 20px;
  }
  .footer div {
    width: 30%;
  }
  .footer img {
    max-height: 60px;
  }
  .footer p {
    font-size: 0.9rem;
  }
}
@media (min-width: 1024px) {
  .container table {
    width: 80%;
  }
  .navbar a {
    font-size: 20px;
    padding: 14px 24px;
  }
  .footer div {
    width: 33%;
  }
  .footer img {
    max-height: 70px;
  }
  .footer p {
    font-size: 1rem;
  }
}/*# sourceMappingURL=style.css.map */