@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Rubik:wght@400;500;700&family=Cambay:wght@400;700&display=swap");

:root {
  --primary-color: #0f0610;
  --secondary-color: #f8ecff;
  --accent-color: #2fc8de;
  --background-color: #8c96a8;
  --font-family-title: "Montserrat", sans-serif;
  --font-family-subtitle: "Rubik", sans-serif;
  --font-family-text: "Cambay", sans-serif;
}

* {
  font-family: var(--font-family-text);
}

body {
  background-position: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px; // Add margin-bottom to the container

  table {
    width: 80%;
    margin-top: 2rem;
    border-collapse: collapse;

    th,
    td {
      padding: 1rem;
      text-align: center;
      border: 1px solid var(--primary-color);
    }

    th {
      background-color: var(--accent-color);
      color: var(--secondary-color);
    }
  }

  h2 {
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
    border: 2px solid var(--primary-color);
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: var(--font-family-title);
  }

  .recent-transactions {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-top: 2rem;
  }

  .transaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    background-color: var(--secondary-color);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    margin-top: 1rem;

    .amount {
      font-weight: bold;
    }

    .operator {
      font-weight: bold;
      color: var(--accent-color);
    }
  }
}

.navbar {
  background-color: var(--primary-color);
  overflow: hidden;

  a {
    float: left;
    color: var(--secondary-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: var(--font-family-text);

    &:hover {
      background-color: var(--secondary-color);
      color: var(--accent-color);
    }
  }
}
.footer {
  display: flex; // Use flexbox to align the content
  flex-direction: row; // Vertically align the content
  justify-content: center; // Center the content vertically
  align-items: center; // Center the content horizontally
  text-align: center; // Center the text horizontally
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 1rem;
  position: static;
  bottom: 0;
  width: 100%;
  div {
    width: 33%;
  }
  img {
    max-height: 50px;
  }

  p {
    font-size: 0.8rem;
    margin: 0;
  }

  .social-media {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
      margin: 0 0.5rem;

      a {
        color: var(--secondary-color);
        font-size: 1.5rem;

        &:hover {
          color: var(--accent-color);
        }
      }
    }
  }
}
