<head>
  <link rel="stylesheet" href="style.css" />
</head>
<div class="card">
  <div class="card__content">
    <h2 class="card__title">About Mijn Wensch!</h2>
  </div>
  <div class="card_container">
    <p class="card__text">
      Mijn Wensch is a modern development project located at Groot St. Joris
      which will consist of 50 lots. The average size of the lots is between 407
      and 873 m2. At this development project we give you the opportunity to buy
      a lot and build your own dream house on it. The lots allow enough space
      for a carport or even a beautiful swimming pool. Or you can start small
      and expand as your family grows.
    </p>
    <div class="card__image">
      <img src="pdf_convert.png" alt="Image" />
    </div>
  </div>
</div>
<br />
<div class="card2">
  <div class="card__content2">
    <h2 class="card__title2">About Mijn Wensch!</h2>
  </div>
  <div class="card_container2">
    <p class="card__text2">
      Mijn Wensch is a modern development project located at Groot St. Joris
      which will consist of 50 lots. The average size of the lots is between 407
      and 873 m2. At this development project we give you the opportunity to buy
      a lot and build your own dream house on it. The lots allow enough space
      for a carport or even a beautiful swimming pool. Or you can start small
      and expand as your family grows.
    </p>
    <div class="card__image2">
      <img src="pdf_convert.png" alt="Image" />
    </div>
  </div>
</div>
